.hr {   
    display: block;
    border: solid 1px;
    height: 15px;
    background-color: #004e64; 
    margin-left: 40px;
    margin-right: 40px;
}

.body {
    background-color: #9fffcb;
    margin: 0;
}

.question1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}

.who-is-apostle-paul {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 40px;
}

.apostle-paul-answer {
    display: flex;
    margin-left: 30px;
    font-size: xx-large;
    margin-right: 40px;
}

.question2 {
    display: flex;
    align-items: center;
}

.what {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 40px;
}

.greatness-description {
    margin-left: 30px;
    font-size: xx-large;
    margin-right: 40px;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 35px;
    border: 3px outset silver;
    background-color: #F8F0E3;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 70%;
}


.container_table {
    display: flex;
    justify-content: center;
}

.image-container-container {
    display: flex;
    justify-content: center;
}

.image-container {
    border: 7px outset #c49c48;
    width: 90%;
}

.background-image {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 10px solid #c49c48;
    box-sizing: border-box;
}

.images {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.image {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 3px solid silver;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 40px;
}

.video-frame-container{
    display: flex;
    justify-content: center;

}

.video-frame {
    border: 7px outset #c49c48;
    width: 90%;
    height: 500px;
    margin-bottom: 60px;
}

.video {
    width: 100%;
    height: 100%;
    margin: auto;
    border: 10px solid #c49c48;
    box-sizing: border-box;
}

.accomplishments-table {
    width: 700px;
    border: 8px;
    height: 30px;
    width: 600px;
    border: 8px outset;
}

.accomplishments-table th, .accomplishments-table td {
    border: 3px solid #31a9e1;
    padding: 10px;
    text-align: left;
}

.resources {
    text-align: center;
    margin-top: 20px;
}
