.hr {   
    display: block;
    border: solid 1px;
    height: 15px;
    background-color: #004e64; 
    margin-left: 40px;
    margin-right: 40px;
}

body {
    background-color: #9fffcb;
    margin: 0;
}

.question1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}

.who-is-apostle-paul {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 40px;
}

.apostle-paul-answer {
    display: flex;
    margin-left: 30px;
    font-size: xx-large;
    margin-right: 40px;
}

.question2 {
    display: flex;
    align-items: center;
}

.what {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 40px;
}

.greatness-description {
    margin-left: 30px;
    font-size: xx-large;
    margin-right: 40px;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 35px;
}

.container_table {
    display: flex;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

.background-image {
    width: 1300px;
    margin: auto;
}

.images {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.image {
    width: 30%;
    height: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.video-frame {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.accomplishments-table {
    width: 700px;
    border: 8px;
    height: 30px;
    width: 600px;
    border: 8px outset;
}

.accomplishments-table th, .accomplishments-table td {
    border: 3px solid #31a9e1;
    padding: 10px;
    text-align: left;
}

.resources {
    text-align: center;
    margin-top: 20px;
}
